<div class='ingredient'>
  <div class='ingredient-data'>
    <div class='ingredient-info'><%= image_tag(@ingredient.image) %></div>
    <div class='ingredient-info'>
      <%= link_to @ingredient.name, @ingredient %>
      <%= @ingredient.measurement %></li>
      <%= @ingredient.cost %></li>
    </div>
  </div>
<br/>
</div>

